<ion-header>
  <ion-toolbar>
    <ion-title>
      Weather 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item>
    <ion-label position="floating">Email</ion-label>
  <ion-input [(ngModel)]="user.username"></ion-input>
  </ion-item>
 
  <ion-item>
    <ion-label position="floating">Şifre </ion-label>
  <ion-input type="password"  [(ngModel)]="user.password"></ion-input>
  </ion-item>
  <ion-button expand="block" shape="round" (click)="Login(user)" >Giriş</ion-button>
  <ion-button expand="block" shape="round" color="light" (click)="Register()" >Kayıt Ol</ion-button>
  
  
  
</ion-content>