<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input #email></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Şifre </ion-label>
    <ion-input type="password" #pass></ion-input>
  </ion-item>
  <ion-button expand="block" shape="round" color="light" (click)="Register(email.value , pass.value)">Kayıt Ol
  </ion-button>



</ion-content>